@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "roboto", sans-serif;
  color: #f2f2df;
  background-color: #E1EDFF;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  color: #f2f2df;
  text-decoration: none;
  padding: 10px 110px 10px 110px;
  display: flex;
  flex-grow: 1;
}

.navbar__link--current {
  font-family: "space mono", monospace;
  font-weight: bold;
  font-size: large;
}

.box-color-primary {
  background-color: #5671a6;
}

.box-color-secondary {
  background-color: #88a0bf;
}