@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "roboto", sans-serif;
  color: #f2f2df;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #365b73;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  color: #f2f2df;
  text-decoration: none;
  padding: 10px 110px 10px 110px;
  display: flex;
  flex-grow: 1;
}

.navbar__link--current {
  font-family: "space mono", monospace;
  font-weight: bold;
  font-size: large;
}

.hero-section {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-section__img {
  width: 1080px;
  position: absolute;
}

.hero-section__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  left: 150px;
  display: flex;
  align-self: flex-start;
}

.hero-section__sinopsis {
  font-size: 18px;
  text-align: justify;
  width: 300px;
  position: absolute;
  top: 100px;
  left: 150px;
  display: flex
}

.hero-section__button {
  color: #f2f2df;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  background-color: #365b73;
  padding: 15px;
  border: 5px solid #274659;
  border-radius: 10px;
  position: absolute;
  top: 425px;
  right: 150px;
}

.info-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 580px;
}

.info-section__card {
  background-color: #365b73;
  border: 20px solid #365b73;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}