@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "roboto", sans-serif;
  color: #f2f2df;
  background-color: #E1EDFF;
}

.navbar {
  text-align: center;
}

.navbar__ulist {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar__list {
  display: inline-block;
}

.navbar__links {
  color: #f2f2df;
  text-decoration: none;
  padding: 10px 110px 10px 110px;
}

.navbar__links--current {
  font-family: "space mono", monospace;
  font-weight: bold;
  font-size: large;
}

.box-color-primary {
  background-color: #5671a6;
}

.box-color-secondary {
  background-color: #88a0bf;
}

.border {
  --border: #365B73 solid;
}

.game {
  display: flex;
  justify-content: center;
}

.game__background-img {
  border: var(--border);
  border-width: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.game__dialogue-shadow {
  border: var(--border);
  border-width: 5px;
  background-color: #365B73;
  width: 750px;
  height: 95px;
  padding: 10px 10px;
  position: absolute;
  top: 500px;
  left: 350px;
}

.game__name-box {
  border: var(--border);
  border-width: 5px;
  background-color: #456B8C;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-family: "space mono", monospace;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 450px;
  left: 850px;
}

.game__dialogue-box {
  border: var(--border);
  border-width: 5px;
  background-color: #88a0bf;
  width: 750px;
  height: 95px;
  padding: 10px 10px;
  text-align: justify;
  display: flex;
  position: absolute;
  top: 500px;
  left: 335px;
}

.game__avatar-img {
  width: 280px;
  border: var(--border);
  border-width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 15px;
}

.game__button {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: absolute;
  top: 150px;
}

.game__button-style {
  display: block;
  color: #f2f2df;
  text-decoration: none;
  text-align: center;
  width: 750px;
  height: 25px;
  padding: 10px;
  margin: 30px 0px;
  background-color: #7378AB;
  border-color: #365B73;
  border-style: double;
  border-width: 10px;
  border-radius: 5px;
}