@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "roboto", sans-serif;
  color: #f2f2df;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #365b73;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  color: #f2f2df;
  text-decoration: none;
  padding: 10px 110px;
  display: flex;
  flex-grow: 1;
}

.navbar__link--current {
  font-family: "space mono", monospace;
  font-weight: bold;
  font-size: large;
}

.border-blue {
  border: #365b73 solid;
}

.game {
  height: 100vh;
  width: 100%;
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: center;
}

.game__background-img {
  border-width: 15px;
  border-radius: 15px;
  width: 1080px;
  position: absolute;
}

.game__character-img {
  width: 380px;
  position: absolute;
  top: 140px;
}

.hidden {
  display: none;
}

.game__bottom-elements {
  position: relative;
  right: 645px;
  bottom: 25px;
  display: flex;
  align-self: flex-start;
}

.game__dialogue-shadow {
  border-width: 5px;
  background-color: #365b73;
  width: 750px;
  height: 95px;
  padding: 10px;
  position: absolute;
  top: 500px;
  left: 350px;
}

.game__name-box {
  border-width: 5px;
  background-color: #456b8c;
  width: 200px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-family: "space mono", monospace;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 450px;
  left: 850px;
}

.game__dialogue-box {
  border-width: 5px;
  background-color: #88a0bf;
  width: 750px;
  height: 95px;
  padding: 10px;
  text-align: justify;
  position: absolute;
  top: 500px;
  left: 335px;
}

.game__avatar-img {
  width: 280px;
  border-width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 15px;
}

.game__button {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: absolute;
  top: 150px;
}

.game__button-style {
  display: block;
  color: #f2f2df;
  text-decoration: none;
  text-align: center;
  width: 750px;
  height: 25px;
  padding: 10px;
  margin: 30px 0px;
  background-color: #7378ab;
  border-color: #365b73;
  border-style: double;
  border-width: 10px;
  border-radius: 5px;
}
