@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  background-color: #E1EDFF;
}

body {
  font-family: "roboto", sans-serif;
  color: #f2f2df;
}

.navbar ul li {
  font-family: "roboto", sans-serif;
  text-align: center;
  display: inline-block;
}

.navbar ul li a {
  color: #f2f2df;
  text-decoration: none;
  padding: 10px 110px 10px 110px;
  margin: -2px;
}

.navbar ul li.current-page {
  font-family: "space mono", monospace;
  font-weight: bold;
  font-size: large;
}

.blue-box {
  background-color: #5671a6;
}

.light-blue-box {
  background-color: #88a0bf;
}

div img.game-img {
  display: block;
  margin: 0 auto;
  border-color: #365B73;
  border-width: 15px;
  border-style: solid;
  border-radius: 15px;
}

.dialogue-shadow {
  border-color: #365B73;
  border-width: 5px;
  border-style: solid;
  background-color: #365B73;
  width: 750px;
  height: 95px;
  padding: 10px 10px;
  position: absolute;
  top: 520px; left: 360px;
}

.name-box {
  border-color: #365B73;
  border-width: 5px;
  border-style: solid;
  background-color: #456B8C;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-family: "space mono", monospace;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 470px; left: 850px;
}

.dialogue-box {
  border-color: #365B73;
  border-width: 5px;
  border-style: solid;
  background-color: #88a0bf;
  width: 750px;
  padding: 10px 10px;
  text-align: justify;
  position: absolute;
  top: 520px; left: 350px;
}

.avatar-img {
  display: block;
  width: 280px;
  position: absolute;
  top: 385px; left: 30px;
  border-color: #365B73;
  border-width: 15px;
  border-style: solid;
  border-radius: 50%;
}