@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar ul li {
  font-family: "roboto", sans-serif;
  text-align: center;
  display: inline-block;
}

.navbar ul li a {
  color: #f2f2df;
  text-decoration: none;
  padding: 10px 110px 10px 110px;
  margin: -2px;
}

.navbar ul li.current-page {
  font-family: "space mono", monospace;
  font-weight: bold;
  font-size: large;
}

.blue-box {
  background-color: #5671a6;
}

.light-blue-box {
  background-color: #88a0bf;
}